@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');
@tailwind base;

:root {
    --vh: 1vh;
}

html,
body {
    font-size: 13px;
}

@screen sm {
    html,
    body {
        font-size: 15px;
    }
}
@screen md {
    html,
    body {
        font-size: 16px;
    }
}
@screen lg {
    html,
    body {
        font-size: 18px;
    }
}

input,
textarea,
button,
select,
div,
a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    outline-style: none;
}

[x-cloak] {
    display: none;
}

@tailwind components;

@tailwind utilities;
