<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TA-Analytics</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="/js/alpine.min.js" defer></script>
    </head>
    <body class="bg-white font-sans leading-loose tracking-wide text-base text-gray-900 font-light hyphens antialiased">
        <div class="flex flex-col min-h-screen">
            <div class="flex-grow">
                <div class="container mx-auto text-center text-xl font-light my-6">
                    <div class="md:w-2/3 leading-normal text-xl font-normal mx-auto px-5 sm:px-2 mb-12">
                        <h1 class="mx-auto w-1/2 my-8">
                            <img src="/img/logo-ta-analytics.png" alt="Logo TA Analytics" class="w-full" />
                        </h1>
                        <p class="my-4">
                            A light-weight, responsive and mobile first tracking accept dialog based for Google
                            Analytics (GDPR - Cookie Consent) on Tailwind CSS and Alpine JS. 100% customizable and
                            endless animation options. If you already use Tailwind CSS and Alpine JS in your project you
                            might consider using this dialog.
                        </p>
                        <p class="my-4">
                            <a
                                class="inline-block text-pink-800 font-semibold hover:text-black hover:underline mx-2"
                                href="https://api.craftplaces.com"
                                target="_blank"
                                >REAL LIFE</a
                            >
                        </p>
                    </div>
                    <div class="relative flex items-center justify-center sm:border-2 border-gray-400 sm:rounded-lg p-4 sm:p-20" style="height: 500px;">
                        @@include('../snippets/ta-analytics.html')
                    </div>
                </div>
            </div>
            <div class="w-full bg-gray-200">
                <div class="max-w-2xl w-full lg:w-1/2 leading-normal text-xl font-light mx-auto py-12 px-8">
                    <div class="mx-auto w-1/2 my-8">
                        <img src="/img/logo-ta-styled-plugins.png" alt="Logo TA StyledPLUGINS" class="w-full" />
                    </div>
                    <p class="text-center pb-4">
                        TA StylesPLUGINS stands for light-weight, responsive and mobile first. All plugins are based on
                        Tailwind CSS and Alpine JS. All are 100% customizable with endless animation options.
                    </p>
                </div>
            </div>
            <div class="bg-blue-900 text-white font-bold">
                <div class="container mx-auto py-6 text-center">
                    <p class="text-xs mx-2">
                        Licensed under the MIT license, see
                        <a href="https://github.com/markusantonwolf/ta-analytics/blob/master/licence.md" target="_blank"
                            >LICENSE.md</a
                        >
                        for details.
                    </p>
                </div>
            </div>
        </div>
        <script src="/js/ta-analytics.js"></script>
    </body>
</html>
